html, body {
  background-color: #fff;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 275px;
  flex-shrink: 0;
}

.main-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
